body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: pink;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 600px;
  width: 90%;
  height: auto;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.game-container {
  display: grid;
  gap: 9px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
}

.card {
  perspective: 1000px;
  width: 100px;
  height: 150px;
  cursor: pointer;
  position: relative;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

  .card-inner.flipped {
    transform: rotateY(180deg);
  }

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  border: 2px solid #f59f9f;
  border-radius: 8px;
}

.card-front {
  background-color: #ffffff;
  color: #000;
  transform: rotateY(0deg);
}


.card-back {
  color: white;
  transform: rotateY(180deg);
}

button {
  font-family: 'Poppins', sans-serif;
  background-color: #f59f9f;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-top: 20px;
}

  button:hover, button:focus {
    background-color: #F28C8C;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  button:active {
    background-color: #e66262;
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
